.cart-element__name {
    padding: var(--spacing-medium);
}
.cart-element__price {
    padding: var(--spacing-medium);
    color: var(--color-unaccent);
}
.cart-container {
    width: 95%;
    height: 96vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: var(--spacing-large);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}
.cart__close {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
    background-image: url(/src/img/icons-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}